{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="home container-fluid">
        <div class="container remove-bottom-pading">
            <div class="home-header">
                <h1 class="display-4 text-light">
                    Explore Our Wide Range of Motorbike Gear
                </h1>
                <div>
                    <a href="{% url 'product_list' %}" class="shop-now-button btn text-uppercase py-3 bg-dark text-light border-light border-rounded">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}